.formWrapper {

    .form {
        padding: 20px;
        border-radius: 5px;
        text-align: left;
        font-size: 20px;
        margin: 0 auto;

        label {
            color: #fff;
        }

        button {
            color: #007bff;
            border-radius: 15px;
            font-size: 20px;
            padding: 10px;
            transition: all 0.3s ease-in-out;
            border: 0;
            margin-top: 20px;

            &:hover {
                color: #fff;
                background-color: #007bff;

            }
        }

        textarea {
            min-height: 180px;
        }


    }

    .imageRight {
        width: 100%;
        max-width: 100;
    }
}