.languageSwitcher {
    padding: 3px 5px;
    font-size: 11px;
    font-weight: 600;
    color: #272727;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.2s;

    @media all and (min-width: 500px) {
        padding: 8px 12px;
        font-size: 14px;
    }
}